<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema-Cabra/login</title>
    <link type="text/css" rel="stylesheet" href="css/desenvolvedores.css">
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
      <a href="#" class="ajuda">Ajuda</a>
      <a href="#" class="voltar">Voltar</a>
      
  </div>
  <div id="main">
    <button class="openbtn">☰</button>  
  </div>
  <div class="janela">
    
    <form>
      
      
      
      
      <div class="textden">
        
        <h2 class="dev">desenvolvedores:</h2>
        
        <img src="imgs/imgdevs.jpeg" class="imgdevs">

        <br>
        <div class="container">
          
          <div class="coluna1">
            
              <p><h1>Front-end:</h1></p>
              <p><h3>Fabio J.C.-Gerente</h3></p>
              <p><h3>Matheus D.C.-Analista</h3></p>
              <p><h3>Mikael M.S.</h3></p>
              <p><h3>Davi C.Q.</h3></p>
              <p><h3>Matheus B.O.</h3></p>
              <p><h3>Antônio D.M</h3></p>
            </div>
            
            
            <div class="coluna2">
              <p><h1>Back-end:</h1></p>
              <p><h3>Maíra M.A-Gerente</h3></p>
              <p><h3>Luís S.M.-Analista</h3></p>
              <p><h3>Caio P.O.</h3></p>
              <p><h3>Ana Clara P.</h3></p>
              <p><h3>Diego G.R.</h3></p>
              <p><h3>Miguel M.</h3></p>
            </div>
          </div>
          
          
          
        </form>
        
      </div>
    </body> 
    
    <script>
      const menu = document.querySelector('.openbtn');
      const voltar = document.querySelector('.voltar');
      const ajuda = document.querySelector('.ajuda');
      let aberto = false;

      function abreMenu(e) {
  if(aberto == false){
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  //document.body.style.backgroundColor = "#001";
  //document.body.style.opacity = "0.9";
  aberto = true;
  } else if(aberto){
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    //janela.style.opacity = "1";
    //document.html.style.backgroundColor = "#6EAF79";
    aberto = false;
}};

      voltar.addEventListener('click', () => {location.assign('http://localhost:3000/login')});
      menu.addEventListener('click',abreMenu);
      ajuda.addEventListener('click', () => {location.assign('http://localhost:3000/ajuda')});

</script>

</html>