<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema-Cabra/cadastro</title>
        <link type="text/css" rel="stylesheet" href="css/csscadastro.css">
    </head>
    <body>
      <div id="mySidebar" class="sidebar">
        <a href="#" class="desenvolvedores">Desenvolvedores</a>
        <a href="#" class="ajuda">Ajuda</a>
        <a href="#" class="voltar">Voltar</a>
        </div>
        <div id="main">
          <button class="openbtn">☰</button>  
        </div>
        <div class="janela">
      <div class="janela">
        <div class="mainDiv">

            <!-- classe "logtit" é pra parte grande escrito "login" ou coisas similares -->
            <div class="logtit">
                <b>Cadastro</b> </div>

            <div class="imgcontainer">
              <img src="imgs/Logo plácido.png" alt="imgd" class="imgd">
            </div>

      
            <!-- classe "container" são os botões com input texto-->
            <div class="container">
              <span hidden class="camposTxt"></span> <br> <button type="submit" hidden class="hidBtn">Voltar</button> <br>
              <label for="mat"><b></b></label>
              <input type="text" placeholder=" Matrícula:" name="mat" class="mat" required>
             </div>
             
             <div class="container">
                <label for="nome"><b></b></label>
                <input type="text" placeholder=" Nome:" name="nome" class="nome" required>
               </div>

               <div class="container">
                <label for="turma"><b></b></label>
                <input type="text" placeholder=" Turma:" name="turma" class="turma" required>
               </div>

               <div class="container">
                <label for="turno"><b></b></label>
                <input type="text" placeholder=" Turno:" name="turno" class="turno" required>
               </div>

               <div class="container">
                <label for="login"><b></b></label>
                <input type="text" placeholder=" login:" name="login" class="login" required>
               </div>

             <div class="container">
              <label for="senh"></label>
              <input type="password" placeholder=" Senha: " name="senh" class="senha" required>
            </div>
            <div class="container">
              <label for="senh"></label>
              <input type="password" placeholder=" Confirmar Senha: " name="confsenh" class="confSenha" required>
            </div>
            <input type="checkbox" class="snhBtn">Mostrar Senha
            <br>
            <span hidden class="hidTxt">O código de verificação foi enviado ao seu email escolar.<br></span> 
            <input type="text" hidden placeholder="Insira o código" class="hid">
            <!-- classe "entrar" serve pro botão de entrar, provavelmente será usado para outros semelhantes-->
            <div class="entrar">
              <button type="submit" class="btreg">Registrar</button><br>
              <button type="submit" hidden class="btcod">Enviar</button>
            </div>
            <div class="logtit">
              <b>Sistema Cabra</b>
            </div>
          </form>
        </div>
    </body>
    <script>
      const menu = document.querySelector('.openbtn');
      const voltar = document.querySelector('.voltar');
      const desenvolvedores = document.querySelector('.desenvolvedores');
      const ajuda = document.querySelector('.ajuda');
      const matricula = document.querySelector('.mat');
      const nome = document.querySelector('.nome');
      const turma = document.querySelector('.turma');
      const turno = document.querySelector('.turno');
      const login = document.querySelector('.login');
      const senha = document.querySelector('.senha');
      const confSenha = document.querySelector('.confSenha');
      const btn = document.querySelector('.btreg');
      const btnCod = document.querySelector('.btcod');
      const snhBtn = document.querySelector('.snhBtn');
      const inpEscondido = document.querySelector('.hid');
      const txtEscondido = document.querySelector('.hidTxt');
      const camposTxt = document.querySelector('.camposTxt');
      const hidBtn = document.querySelector('.hidBtn');

      let confirmou = false;
      let enviou = false;
      let aberto = false;
      let completo = false;
      let aluno = {
        matricula: matricula.value,
        nome: nome.value,
        turma: turma.value,
        turno: turno.value,
        senha: confSenha.value,
        senha: senha.value,
        login:login.value,
      }

      function mostraSenha(){
  if (senha.type === "password") {
    senha.type = "text";
    confSenha.type = "text";
  } else {
    senha.type = "password";
    confSenha.type = "password";
  }
}

      function abreMenu(e) {
  if(aberto == false){
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  //document.body.style.backgroundColor = "#001";
  //document.body.style.opacity = "0.9";
  aberto = true;
  } else if(aberto){
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    //janela.style.opacity = "1";
    //document.html.style.backgroundColor = "#6EAF79";
    aberto = false;
}};

      function verificaCod(){
       fetch('/codVerif')
        .then(resposta => resposta.json())
        .then(codigo => { if(codigo == inpEscondido.value){
          confirmou = true;
          camposTxt.style.color = 'black';
          camposTxt.innerHTML = "Conta cadastrada";
          camposTxt.hidden = false;
          hidBtn.hidden = false
        fetch('/cadastrar', {
            method:"POST",
            headers:{
              "Content-type": "application/json"
            },
            body:JSON.stringify(aluno)
          });
        }
  
        })};

      function registra(e) {
        if(!confirmou){
          if(matricula.value != "" && nome.value != "" && turma.value != "" && turno.value != "" && senha.value != "" && confSenha.value != "" && login.value != ""){completo = true} 
          else { camposTxt.innerHTML = "Preencha todos os campos.";camposTxt.hidden = false}
            if(senha.value != confSenha.value){camposTxt.innerHTML = "As senhas não são identicas"; camposTxt.hidden = false}else if(senha.value == confSenha.value) {
            if(completo){
              let emailFormula = matricula.value + "@estudante.sed.sc.gov.br";
              
              aluno = {
            matricula: matricula.value,
            nome: nome.value,
            turma: turma.value,
            turno: turno.value,
            senha: confSenha.value,
            senha: senha.value,
            login:login.value,
            email: emailFormula
              };
              console.log(aluno)
              enviou = true;
              inpEscondido.hidden = false;
              txtEscondido.hidden = false;
              btnCod.hidden = false;
              btn.hidden = true;

            fetch('/enviaCod', {
            method:"POST",
            headers:{
              "Content-type": "application/json"
            },
            body:JSON.stringify(aluno)
          });


            }} completo = false;


        }
      }

      if(confirmou){registra}
      if(enviou == false){btn.addEventListener('click', registra);}
      btnCod.addEventListener('click', verificaCod);
      voltar.addEventListener('click', () => {location.assign('http://localhost:3000/login')});
      hidBtn.addEventListener('click', () => {location.assign('http://localhost:3000/login')});
      desenvolvedores.addEventListener('click', () => {location.assign('http://localhost:3000/desenvolvedores')});
      menu.addEventListener('click',abreMenu);
      ajuda.addEventListener('click', () => {location.assign('http://localhost:3000/ajuda')});
      snhBtn.addEventListener('click', mostraSenha);
      if(!enviou){document.addEventListener('keydown', (e) => {if(e.keyCode == 13){registra()}});} else
      if(enviou){document.addEventListener('keydown', (e) => {if(e.keyCode == 13){verificaCod()}});}
      
</script>

    </html>